.box1 {
    height: 500px;
    padding: 20px;
    color:gray ;
    background: white;
}

.box2 {
    height: 400px;
    padding: 10px;
    color:gray ;
    background: white;
}

.container-color {
    background: rgb(179, 175, 175);
}