.grey {
    background-color: rgb(206, 202, 202);
}

.html{
    background-color: gray;
}

.white{
    background-color: white;
}

.size {
    height: 200px;
    width: 200px;
  }

.float  {
    float: right;
  }

.imgfloat {
    float: left;
    margin: 5px;
}

.pformat {
    text-align: justify;
}